{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        Courses
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <nav>
        <a href="/">Home</a>
        <a href="/courses/">Courses</a>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Course Website</p>
    </footer>

</body>
</html>