{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Learnly{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <header class="main-header">

        <nav class="navbar">

            <a href="{% url 'dashboard:home' %}" class="logo">
                Learnly
            </a>

            <div class="nav-links">
                <a href="{% url 'dashboard:home' %}">Home</a>
                <a href="{% url 'courses:list' %}">Courses</a>
                <a href="{% url 'dashboard:reports' %}">Dashboard</a>
                <a href="{% url 'users:profile' %}">Profile</a>
            </div>

            <a href="{% url 'users:login' %}" class="nav-button">
                Login
            </a>

        </nav>

    </header>


    <main>

        {% block content %}
        {% endblock %}

    </main>


    <footer>

        <p>© 2026 Learnly</p>
        <p>Learn. Grow. Build your future.</p>

    </footer>

</body>
</html>