{% extends "base.html" %}

{% block title %}
Checkout | Learnly
{% endblock %}

{% block content %}

<section class="form-section">

    <div class="form-card">

        <span class="tag">Checkout</span>

        <h1>Complete Your Purchase</h1>

        <p>
            Enter your payment details to enroll in the course.
        </p>

        <form>

            <label>Full Name</label>
            <input
                type="text"
                placeholder="Enter your full name"
            >

            <label>Email</label>
            <input
                type="email"
                placeholder="example@email.com"
            >

            <label>Card Number</label>
            <input
                type="text"
                placeholder="1234 5678 9012 3456"
            >

            <label>Expiry Date</label>
            <input
                type="text"
                placeholder="MM / YY"
            >

            <label>CVV</label>
            <input
                type="text"
                placeholder="123"
            >

            <a href="{% url 'payments:receipt' %}" class="primary-button">
                Complete Payment
            </a>

        </form>

    </div>

</section>

{% endblock %}