{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
 <div class="reg">
    <h1>Create Account</h1>

    <form method="POST">
        {% csrf_token %}

        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Register</button>
    </form>

    <p>
        Already have an account?
        <a href="{% url 'login' %}">Login</a>
    </p>
</div>
{% endblock %}